body {
    background-color:rgb(52, 53, 53);
}
.button1 {
    background-color:#338bff;
    border: none;
    width: 250px;
    height: 100px;
    font-family:Verdana;
    font-size: xx-large;
    border-radius: 4px;
    text-transform: uppercase;
}
.flex-parent {
    display: flex;
}
.jc-center {
    justify-content: center;
}
.button1-margin {
    margin-top: 400px;
}